#appStatus-mainbody {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: max-content;
  height:max-content;
  padding: 4px 12px 4px 12px;

  background-color: var(--primary-color);

  border-radius: 30px;

  overflow: hidden;
  margin-bottom: 8px;
}

#appStatus-mainbody.Maintained {
  background-color: var(--accent-transparent);
}

#appStatus-mainbody.Slowed {
  background-color: var(--yellow-transparent);
}

#appStatus-mainbody.Stopped,
#appStatus-mainbody.Abandoned {
  background-color: var(--red-transparent);
}




#appStatus-indicator {
  width: 12px;
  height: 12px;

  border-radius: 12px;
  margin-right: 10px;

  background-color: var(--accent);
}

#appStatus-indicator.Maintained {
  background-color: var(--accent);
}

#appStatus-indicator.Slowed {
  background-color: var(--yellow);
}

#appStatus-indicator.Stopped,
#appStatus-indicator.Abandoned {
  background-color: var(--red);

}

#appStatus-status {
  color: var(--accent);
  font-family: _semibold;
}

#appStatus-status.Maintained {
  color: #409BFF;
}

#appStatus-status.Slowed {
  color: #FFE580;
}

#appStatus-status.Stopped,
#appStatus-status.Abandoned {
  color: #FF432A;
}


