#appStatus-mainbody {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: max-content;
  height:max-content;
  padding: 4px 12px 4px 12px;

  background-color: var(--primary-color);

  border: 1px solid var(--secondary-white);
  border-radius: 30px;

  overflow: hidden;
  margin-bottom: 8px;
}

#appStatus-indicator {
  width: 12px;
  height: 12px;

  border-radius: 12px;
  margin-right: 10px;

  background-color: var(--accent);
  box-shadow: 0px 0px 36px 8px var(--accent);
}

#appStatus-indicator.Maintained {
  background-color: var(--accent);
  box-shadow: 0px 0px 36px 8px var(--accent);
}

#appStatus-indicator.Slowed {
  background-color: var(--yellow);
  box-shadow: 0px 0px 36px 8px var(--yellow);
}

#appStatus-indicator.Stopped,
#appStatus-indicator.Abandoned {
  background-color: var(--red);
  box-shadow: 0px 0px 36px 8px var(--red);
}

#appStatus-status {
  color: var(--accent);
  font-family: _semibold;
}

#appStatus-status.Maintained {
  color: #409BFF;
}

#appStatus-status.Slowed {
  color: #FFE580;
}

#appStatus-status.Stopped,
#appStatus-status.Abandoned {
  color: #FF432A;
}


