/*Global Components*/

#divider-mainbody {
  width: 100%;
  height: 3px;

  background-color: var(--tertiary);

  border-radius: 3px;
}



#docs-maindiv {
  width: calc(100dvw - 60px - 2px);
  height: max-content;

  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);

  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section h1 {
  font-family: _bold;
  font-size: 32px;
  color: var(--white);

  margin-bottom: 8px
}
section h2 {
  font-family: _bold;
  font-size: 28px;
  color: var(--white);

  margin-bottom: 8px;
  margin-left: 28px;
}

section ul, section ol {
  margin-left: 28px;
} section li {
  margin-bottom: 4px;
}

section p {
  font-family: _regular;
  font-size: 16px;
  color: var(--white);

  background-color: transparent;

  line-height: 1.5;
} section p.paragraph-h2 {
  margin-left: 28px;
  margin-bottom: 8px
}

section.docs-lastSection {
  margin-bottom: 50dvh;
}

@media screen and (min-width: 834px) {
  #docs-maindiv {
    width: calc(100dvw - calc(clamp(270px, calc(30dvw - 2px), 300px) + 120px));
    height: max-content;

    position: absolute;
    top: 0px;
    left: calc(clamp(270px, calc(30dvw - 2px), 300px) + 120px + 2px);
    transform: unset;

    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1360px) {
  #docs-maindiv {
    width: 35dvw;
    height: max-content;

    position: absolute;
    top: 0px;
    left: unset;
    right: calc((100dvw - clamp(270px, calc(31dvw - 2px), 350px) - 35dvw) / 2);

    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 32px
  }
}