#code-mainbody {
  width: calc(100% - 24px - 8px);
  height: max-content;
  min-height: 100px;

  border: 3px solid var(--secondary);
  border-radius: 24px;

  padding: 20px 16px 20px 8px;

  font-family: _medium;
  font-size: 16px;
  color: var(--font-primary);
  margin-bottom: 24px;

  background: transparent;

  transition: 0.45s;

  position: relative;
}

.code-highlighted::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

.code-highlighted::-webkit-scrollbar-track {
  background: transparent;
}

.code-highlighted::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 6px;
}

.code-highlighted::-webkit-scrollbar-thumb:hover {
  background: var(--font-secondary);
}

.linenumber{
  border-right: 3px solid var(--secondary);
  margin-right: 12px
}