#tableContents-mainbody {
  width: calc(100dvw - 32px - 30px);
  height: calc(100dvh - 30px - 62px - 30px - 30px - 30px);

  position: fixed;
  top: 120px;
  left: -100%;
  padding: 30px 0px 0px 30px;
  z-index: 99;

  background-color: var(--primary);
  backdrop-filter: blur(20px);

  border: 1px solid var(--secondary-white);
  border-left: none;
  border-radius: 0px 40px 40px 0px;

  transition: 0.35s;
}

#tableContents-mainbody.open {
  width: calc(100dvw - 32px - 30px);
  height: calc(100dvh - 30px - 62px - 30px - 30px - 30px);

  position: fixed;
  top: 120px;
  left: 0px;
  padding: 30px 0px 0px 30px;

  background-color: var(--primary);
  backdrop-filter: blur(20px);

  border: 1px solid var(--secondary-white);
  border-left: none;
  border-radius: 0px 40px 40px 0px;
}

#tocpath-mainbody {
  width: calc(100% - 30px - 16px);
  height: 36px;

  color: var(--secondary-white);
  font-family: _semibold;
  font-size: 16px;

  background-color: transparent;

  border-left: 3px solid var(--secondary-white);

  display: flex;
  align-items: center;
  padding-left: 16px;

  cursor: pointer;
  user-select: none;

  transition: 0.3s
}

#tocpath-mainbody.active {
  border-left: 3px solid var(--white);
  color: var(--white);
}

#tableContents-copyright {
  width: calc(100% - 60px + 3px);
  height: max-content;

  background-color: transparent;

  position: absolute;
  bottom: 30px;
  left: 30px;

  color: var(--secondary-white);
  font-family: _medium;
  font-size: 16px;
}

#TOC-zendocs {
  display: none
}

#TOC-items::-webkit-scrollbar {
  width: 0px;
}

@media screen and (min-width: 834px) {
  #tableContents-mainbody {
    width: clamp(250px, calc(30dvw - 2px), 280px);
    height: calc(100dvh - 62px - 30px);

    position: fixed;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);

    background-color: var(--primary);
    backdrop-filter: blur(20px);

    border: 1px solid var(--secondary-white);
    border-radius: 30px;
  }

  #TOC-items {
    width: calc(100% - 2px - 32px);
    margin-top: 90px;
    background-color: transparent;

    height: calc(100% - 90px - 120px);

    overflow-y: scroll;
    overflow-x: hidden
  }

  #tocpath-mainbody {
    width: calc(100% - 16px);
    height: 36px;

    color: var(--secondary-white);
    font-family: _semibold;
    font-size: 16px;

    background-color: transparent;

    border-left: 3px solid var(--secondary-white);

    display: flex;
    align-items: center;
    padding-left: 16px;

    cursor: pointer;
  }

  #tableContents-copyright {
    width: calc(100% - 60px - 2px - 32px);
    height: max-content;

    background-color: transparent;

    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 8px 16px 8px 16px;

    color: var(--white);
    font-family: _regular;
    font-size: 16px;

    border: 1px solid var(--secondary-white);
    border-radius: 10px;
  }

  #TOC-zendocs {
    width: max-content;
    height: 60px;

    position: absolute;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    background-color: transparent;
    
    color: var(--white);
    font-family: _extrabold;
    font-size: 20px;

    user-select: none;
    cursor: pointer;
  }

  #TOC-img {
    width: 44px;
    height: 44px;
  }
}