#searchResult-mainbody {
  width: calc(100dvw - 60px - 40px);
  height: calc(0dvh + clamp(500px, 40dvh, 550px) - 20px - 40px - 2px);

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 20px;

  border-radius: 40px 40px 0px 0px;
  border: 1px solid var(--secondary-white);
  border-bottom: none;

  background-color: var(--secondary);
  backdrop-filter: blur(16px);

  overflow-y: scroll;
}

#searchResult-mainbody::-webkit-scrollbar {
  display: none;
}
#searchResultCard-description::-webkit-scrollbar {
  width: 6px;
}

#searchResult-mainbody::-webkit-scrollbar-track,
#searchResultCard-description::-webkit-scrollbar-track {
  background-color: transparent;
}

#searchResult-mainbody::-webkit-scrollbar-thumb,
#searchResultCard-description::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 8px
}


#searchResultCard {
  width: calc(100% - 32px);
  height: calc(200px - 32px);

  border-radius: 20px;
  border: 1px solid var(--secondary-white);

  position: relative;
  margin-bottom: 20px;
  padding: 16px;

  background-color: var(--primary);

  transition: 0.45s;

  cursor: pointer;
}

#searchResultCard:hover {
  scale: 1.02;
  border-radius: 24px;
  box-shadow: 0px 0px 30px -10px var(--primary)
}

#searchResultCard-icon {
  width: 60px;
  aspect-ratio: 1/1;

  position: absolute;
  top: 16px;
  left: 16px;

  border-radius: 8px;
  border: 1px solid var(--secondary-white);
}

#searchResultCard-title {
  width: max-content;
  height: 60px;

  position: absolute;
  top: 16px;
  left: 92px;
  display: flex;
  align-items: center;

  font-size: 20px;
  font-family: _bold;
  color: var(--white);
}

#searchResultCard-description {
  width: calc(100% - 32px);
  height: calc(100% - 92px - 16px);

  position: absolute;
  top: 92px;

  font-size: 16px;
  font-family: _regular;
  color: var(--white);
  overflow-y: scroll;
}

#searchResult-noresult {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-family: _regular;
  color: var(--white);
}

@media screen and (min-width: 834px) {
  #searchResult-mainbody {
    width: calc(50dvw - 40px);
    max-width: 800px;
    background-color: var(--secondary);
    backdrop-filter: blur(32px);
    height: calc(0dvh + clamp(500px, 40dvh, 550px) - 40px - 2px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 20px;
    column-gap: 20px;

    overflow-y: scroll;
  }

  #searchResultCard {
    width: calc(50% - 40px - 4px);
    height: calc(200px - 32px);

    border-radius: 20px;
    border: 1px solid var(--secondary-white);

    position: relative;
    margin-bottom: 0px;
    padding: 16px;

    background-color: var(--primary);
  }
}