#changelog-mainbody {
  width: calc(100% - 32px - 2px);
  height: max-content;
  background-color: transparent;
  
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 16px 16px 20px 16px;

  border: 1px solid var(--secondary-white);
  border-radius: 30px
}

#changelog-mainbody.isBeta {
  border: 1px solid var(--secondary-yellow)
}

#changelog-aboutVersion {
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  justify-content:space-between;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#changelog-version {
  font-family: _bold;
}

#changelog-date{
  color: var(--secondary-white);
  font-family: _semibold;
}

#changelog-divider {
  width: 100%;
  height: 2px;

  background-color: var(--secondary-white);

  margin: 12px 0px 12px 0px;

  border-radius: 10px
}

@media screen and (min-width: 834px) {
  #changelog-mainbody {
    width: calc(100% - 48px - 2px);
    height: max-content;
    min-height: 60px;

    background-color: transparent;
    margin-top: 16px;

    padding: 20px 24px 20px 24px;

    border: 1px solid var(--secondary-white);
    border-radius: 24px;

    display: flex;

    gap: 34px;
    position: relative
  }

  #changelog-content {
    position: relative;
    left: calc(110px + 36px)
  }

  #changelog-aboutVersion {
    height: max-content;
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
  }

  #changelog-divider {
    width: 2px;
    height: calc(100% - 40px);

    background-color: var(--secondary-white);

    margin: 0px 0px 0px 0px;

    position: absolute;
    left: calc(24px + 110px + 16px);
  }
}