#copyright-text {
  width: max-content;
  z-index: 99;
  position: absolute;

  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);

  color: var(--font-white);
  font-size: 16px;
}

@media screen and (min-width: 834px) {
  #copyright-text {
    left: 28px;
    bottom: 20px;
    transform: unset;
  }
}