html, body {
  background-color: #0F131A;
  height: 100dvh;
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: _medium;

  --primary: rgb(15, 19, 26, 0.7);
  --secondary: rgb(23, 28, 35, 0.8);
  --tertiary: rgb(23, 28, 35, 1);

  --accent: #007AFF;
  --yellow: #FFCC00;
  --green: #33FF33;
  --red: rgb(233, 21, 45);
  --secondary-yellow: rgba(255, 204, 0, 0.2);
  --white: #F5F5F5;
  --secondary-white: rgba(245, 245, 245, 0.2);
  --font-white: rgba(245, 245, 245, 0.5);
}