html, body {
  background-color: #0F131A;
  height: 100dvh;
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: _medium;

  --primary: rgb(15, 19, 26, 0.7);
  --secondary: rgb(23, 28, 35, 0.8);
  --tertiary: rgb(23, 28, 35, 1);

  --accent: #007AFF;
  --accent-transparent: rgb(0, 122, 255, 0.16);
  --yellow: #FFCC00;
  --yellow-transparent: rgb(255, 204, 0, 0.16);
  --secondary-yellow: rgba(255, 204, 0, 0.2);
  --green: #33FF33;
  --green-transparent: rgba(51, 255, 51, 0.16);
  --red: #e9152d;
  --red-transparent: rgba(233, 21, 45, 0.16);
  --white: #F5F5F5;
  --secondary-white: rgba(245, 245, 245, 0.2);
  --font-white: rgba(245, 245, 245, 0.5);
}